*/terraform.tfstate
*/terraform.tfstate.backup
*.tfvars
*.tfvars.json
*.tfvars.yaml
*.tfvars.yml
*.tfvars.tf
*/terraform
*/PBL/terraform.tfstate
*/PBL/terraform.tfstate.backup
*/PBL/*.tfvars
*/PBL/*.terraform.lock.hcl
*/awsaws/
awscliv2.zip
*.zip
